USE [master]
GO
/****** Object:  Database [HealthcareSystem]    Script Date: 2/25/2026 8:14:08 PM ******/
CREATE DATABASE [HealthcareSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HealthcareSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\HealthcareSystem.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HealthcareSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\HealthcareSystem_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HealthcareSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HealthcareSystem]
GO
/****** Object:  Table [dbo].[Record]    Script Date: 2/25/2026 8:14:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Record](
	[ID_Record] [int] IDENTITY(1,1) NOT NULL,
	[ID_User] [int] NOT NULL,
	[BPM_Avg] [float] NOT NULL,
	[SpO2_Avg] [float] NOT NULL,
	[Record_Time] [datetime] NOT NULL CONSTRAINT [DF__Record__Record_T__1367E606]  DEFAULT (getdate()),
	[Fall_status] [nvarchar](50) NULL DEFAULT ('Normal'),
 CONSTRAINT [PK__Record__1070D2CE9C5365DD] PRIMARY KEY CLUSTERED 
(
	[ID_Record] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 2/25/2026 8:14:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Birthday] [date] NOT NULL,
	[Password] [nvarchar](64) NOT NULL,
	[Height] [float] NULL,
	[Weight] [float] NULL,
	[Email] [nchar](100) NOT NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Record]  WITH CHECK ADD  CONSTRAINT [FK__Record__ID_User__1273C1CD] FOREIGN KEY([ID_User])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Record] CHECK CONSTRAINT [FK__Record__ID_User__1273C1CD]
GO
USE [master]
GO
